@{
    ViewData["Title"] = "AddStudent";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<h1>Add Student </h1>

<h4 class="code-line" data-line-start=1 data-line-end=2><a id="Upload_danh_sch_sinh_vin_ln_h_thng_1"></a>Upload danh sách sinh viên lên hệ thống</h4>
<h5 class="code-line" data-line-start=0 data-line-end=1><a id="Trong_bi_ny_mnh_xin_trnh_by_cc_bc__thm_danh_sch_hc_sinh_to_m_QR_cho_tng_hc_sinh_v_cui_cng_l_download_v_my_0"></a>Trong bài này, mình xin trình bày các bước để thêm danh sách học sinh, tạo mã QR cho từng học sinh và cuối cùng là download về máy.</h5>
<ul>
    <li class="has-line-data" data-line-start="2" data-line-end="3">Bước 1: Đăng nhập vào hệ thống dưới quyền admin - chọn mục management - chọn Student management.</li>
    <li class="has-line-data" data-line-start="3" data-line-end="4">Bước 2: Chuẩn bị file định dạng excel có chứa họ và tên sinh viên và mã số sinh viê.</li>
    <li class="has-line-data" data-line-start="4" data-line-end="5">Bước 3: Chọn vào button Choose File, cửa sổ windown hiện lên, chọn file excel đã chuẩn bị sẵn,chọn open, cuối cùng chọn nút upload để upload file.</li>
    <li class="has-line-data" data-line-start="5" data-line-end="6">Bước 4: Sau khi file đã upload xong, chọn Create QR để tạo mã QR cho từng sinh viên.</li>
    <li class="has-line-data" data-line-start="6" data-line-end="7">Bước 5: Click download QR để tải tệp tin chứa mã QR cho từng sinh viên trong danh sách excel.</li>
</ul>