@{
    ViewData["Title"] = "QRCode";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<h1>QRCode Check in tutorial</h1>
<h4 class="code-line" data-line-start=0 data-line-end=1><a id="Trong_bi_ny_mnh_xin_trnh_by_cc_bc__cc_bn_staff_c_th_checking_cho_cc_bn_sinh_vin_khi_tham_gia_s_kin_0"></a>Trong bài này, mình xin trình bày các bước để các bạn staff có thể checking cho các bạn sinh viên khi tham gia sự kiện</h4>
<ul>
    <li class="has-line-data" data-line-start="2" data-line-end="3">Bước 1: Đăng nhập vào hệ thống với user là staff bằng email và password đăng kí với hệ thống.</li>
    <li class="has-line-data" data-line-start="3" data-line-end="4">Bước 2: Xác định event cần checking</li>
    <li class="has-line-data" data-line-start="4" data-line-end="5">Bước 3: Nhấn checking của event.</li>
    <li class="has-line-data" data-line-start="5" data-line-end="6">Bước 4: Khi vào checking hệ thống sẽ hỏi để yêu cầu quyền truy cập camera, click allow, hoặc vào setting chọn cho phép truy cập, để hệ thống có thể truy cập vào camera.</li>
    <li class="has-line-data" data-line-start="6" data-line-end="7">Bước 5 tiến hành quét mã qr cho từng bạn tham gia event.</li>
</ul>