@{
    ViewData["Title"] = "Tutorial";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<h1 class="code-line" data-line-start=0 data-line-end=1><a id="GW_Checkin_Tutorial_0"></a>GW Checkin Tutorial</h1>
<p class="has-line-data" data-line-start="3" data-line-end="4">Hướng dẫn sử dụng các chức năng của GW Checkin Web</p>
<ul>
    <li class="has-line-data" data-line-start="4" data-line-end="7">
        Yêu cầu thiết bị:
        <ul>
            <li class="has-line-data" data-line-start="5" data-line-end="6">Có ứng dụng Web-Browser (Google Chrome, Safari,...)</li>
            <li class="has-line-data" data-line-start="6" data-line-end="7">Có camera</li>
        </ul>
    </li>
</ul>
<h4 class="code-line" data-line-start=7 data-line-end=8><a id="Bc_1_M_ng_dng_google_chorme_trn_in_thoi_7"></a>Bước 1: Mở ứng dụng google chorme trên điện thoại</h4>
<ul>
    <li class="has-line-data" data-line-start="9" data-line-end="10">Truy cập vào trang web GW Check in: “link”</li>
    <li class="has-line-data" data-line-start="10" data-line-end="11">Đăng nhập tài khoản và mật khẩu</li>
</ul>
<h4 class="code-line" data-line-start=11 data-line-end=12><a id="Bc_2_M_ng_dng_google_chorme_trn_in_thoi_11"></a>Bước 2: Mở ứng dụng google chorme trên điện thoại</h4>
<ul>
    <li class="has-line-data" data-line-start="13" data-line-end="14">Truy cập vào trang web GW Check in: “link”</li>
    <li class="has-line-data" data-line-start="14" data-line-end="16">
        Chọn nút <strong>Login</strong><br>
    </li>
    <li class="has-line-data" data-line-start="16" data-line-end="19">
        Đăng nhập tài khoản và mật khẩu<br>
    </li>
</ul>
<h4 class="code-line" data-line-start=19 data-line-end=20><a id="Bc_3_Gii_thiu_chc_nng_c_trong_Web_theo_vai_tr_19"></a>Bước 3: Giới thiệu chức năng có trong Web theo vai trò</h4>
<h5 class="code-line" data-line-start=21 data-line-end=22><a id="Vai_Tr_21"></a>Vai Trò:</h5>
<h6 class="code-line" data-line-start=22 data-line-end=23><a id="Admin_22"></a>Admin</h6>
<ul>
    <li class="has-line-data" data-line-start="23" data-line-end="24">Tạo tài khoản nhân viên, quản lý</li>
    <li class="has-line-data" data-line-start="24" data-line-end="25">Thêm, xem, xoá, sửa các sự kiện</li>
    <li class="has-line-data" data-line-start="25" data-line-end="26">Thêm, xem, xoá, sửa sinh viên</li>
    <li class="has-line-data" data-line-start="26" data-line-end="27">Check in bằng Qr Code</li>
</ul>
<h6 class="code-line" data-line-start=29 data-line-end=30><a id="Manager_29"></a>Manager</h6>
<ul>
    <li class="has-line-data" data-line-start="30" data-line-end="31">Tạo tài khoản nhân viên</li>
    <li class="has-line-data" data-line-start="31" data-line-end="32">Tính năng còn lại tương tự Admin</li>
</ul>
<h6 class="code-line" data-line-start=34 data-line-end=35><a id="Staff_34"></a>Staff</h6>
<ul>
    <li class="has-line-data" data-line-start="35" data-line-end="36">Check in học sinh tham gia sự kiện bằng Qr cdoe trên điện thoại</li>
</ul>
<h4 class="code-line" data-line-start=38 data-line-end=39><a id="Bc_4_Hng_dn_chc_nng_c_trong_Web_38"></a>Bước 4: Hướng dẫn chức năng có trong Web</h4>
<h5 class="code-line" data-line-start=39 data-line-end=40><a id="To_ti_khon_cho_nhn_vin_qun_l_39"></a>Tạo tài khoản cho nhân viên, quản lý</h5>
<ul>
    <li class="has-line-data" data-line-start="40" data-line-end="41">Chọn vào mục User Management</li>
    <li class="has-line-data" data-line-start="41" data-line-end="42">Chọn vào nút <strong>New User</strong> để tạo mới tài khoản</li>
    <li class="has-line-data" data-line-start="42" data-line-end="43">Điền thông tin đầy đủ, và chọn vai trò cho tài khoản mới tạo</li>
    <li class="has-line-data" data-line-start="43" data-line-end="44">Có chọn các nút button để xoá sửa các user</li>
</ul>
<h5 class="code-line" data-line-start=44 data-line-end=45><a id="To_s_kin_ti_trng_44"></a>Tạo sự kiện tại trường</h5>
<ul>
    <li class="has-line-data" data-line-start="45" data-line-end="46">Chọn vào mục Event</li>
    <li class="has-line-data" data-line-start="46" data-line-end="47">Chọn vào nút <strong>Create Event</strong> để tạo mới sự kiện</li>
    <li class="has-line-data" data-line-start="47" data-line-end="48">Điền thông tin sự kiện</li>
    <li class="has-line-data" data-line-start="48" data-line-end="49">Có thể chọn các nút button để xoá sử các event</li>
</ul>
<h5 class="code-line" data-line-start=49 data-line-end=50><a id="To_d_liu_sinh_vin_tham_gia_s_kin_49"></a>Tạo dữ liệu sinh viên tham gia sự kiện</h5>
<ul>
    <li class="has-line-data" data-line-start="50" data-line-end="51">Chi tiết xem tại <a href="#">đây</a></li>
</ul>
<h5 class="code-line" data-line-start=51 data-line-end=52><a id="Check_in_sinh_vin_trong_s_kin_bng_Qr_code_51"></a>Check in sinh viên trong sự kiện bằng Qr code</h5>
<ul>
    <li class="has-line-data" data-line-start="52" data-line-end="53">Chi tiết xem tại <a href="#">đây</a></li>
</ul> 