@model CheckInGWDN.Models.Event

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<h3 class="text-dark mb-4">Event management</h3>
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">
            Create Event
        </p>
    </div>
    <div class="card-body">
        <form method="post" asp-action="Create">
            <partial name="_StatusMessage" model="@ViewData["Message"]" />
            <div class="backgroundWhite shadowNew">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Name" class="col-form-label"></label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Description" class="col-form-label"></label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="Description" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 offset-md-2">
                        <partial name="_CreateAndBackToListBUtton" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}